@model AgendaMedica.Models.Agenda

@{
    ViewData["Title"] = "Create";
}

<h1>Criar agenda</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PacienteId" class="control-label text-black">Paciente</label>
                <select asp-for="PacienteId" class="form-control" asp-items="ViewBag.PacienteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MedicoId" class="control-label text-black">Medico</label>
                <select asp-for="MedicoId" class="form-control" asp-items="ViewBag.MedicoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DataConsulta" class="control-label text-black"></label>
                <input asp-for="DataConsulta" class="form-control" />
                <span asp-validation-for="DataConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label text-black"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>

            </div>
            <div class="form-group py-2">
                <input type="submit" value="Criar Agendamento" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-2">
    <a asp-action="Index" class="text-white text-decoration-none bg-secondary py-2 px-2 rounded-2">Voltar para Agenda</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
